<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOGS_PATH" value="logs"/>
    <property name="LOGS_FORMAT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n"/>

    <springProperty scope="context" name="app_name" source="spring.application.name" defaultValue="undefined"/>
    <springProperty scope="context" name="app_version" source="spring.application.version" defaultValue="undefined"/>
    <springProperty scope="local" name="LOGSTASH_HOST" source="logging.logstash.host"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOGS_FORMAT}</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}</destination>
        <writeBufferSize>65536</writeBufferSize>
        <reconnectionDelay>10 second</reconnectionDelay>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender-ref ref="LOGSTASH_TCP" />
    </appender>

    <logger name="ru.sberinsur" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>